/font
/image
/css/bootstrap.min.css
/css/font-awesome.css
/css/style.css
/css/style.css.map
/home.html 
/css/color.scss
/css/font.scss
/css/size.scss
/blog.html
/cart.html
/contact.html
/customer_address.html
/detail_blog.hmtl
/detail_product.html
/error.html
/introduce.html
/list_product.html
/login.html
/order.html
/product.html
/register.html