doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Detail Products
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.2/css/all.css')
  body
    header#header.header
      .header__category
        .header__category__left
          ul
            a(href='')
              li Tài khoản của tôi
            a(href='')
              li Trạng thái đơn hàng
            a(href='')
              li Danh sách ưa thích
            a(href='')
              li Giỏ hàng
            a(href='')
              li Đăng nhập
            a(href='')
              li Đăng ký
        .header__category__right
          input(type='text', placeholder='Tìm kiếm ở đây...')
          i.fas.fa-search
    section#main
      article.menu
        .menu__logo
          .menu__logo__list__img
            img.menu__logo__list__img__one(src='image/Vector Smart Object.png', alt='')
            h2 Wine hourse
            h4 Since 1980
            img.menu__logo__list__img__two(src='image/logo.png', alt='')
        .menu__category
          ul.menu__category__list
            li
              a(href='#') Trang Chủ
            li
              a.red__wine(href='#') Rượu vang đỏ
              .dropdown
                i.fas.fa-caret-up
                .dropdown__information
                  ul
                    li
                      h3 rượu ngoại
                    li
                      a(href='#') Rượu Chivar
                    li
                      a.red__wine(href='#') Hàng độc - rượu đọc đáo
                    li
                      a(href='#') Johnnie Walker
                    li
                      a(href='#') Rượu Whisky
                    li
                      a(href='#') Rượu Reni Martin
                    li
                      a(href='#') Rượu Glenmorangie
                  ul
                    li
                      h3 rượu vang
                    li
                      a(href='#') Rượu Chivar
                    li
                      a(href='#') Hàng độc - rượu đọc đáo
                    li
                      a(href='#') Johnnie Walker
                    li
                      a(href='#') Rượu Whisky
                    li
                      a(href='#') Rượu Reni Martin
                    li
                      a(href='#') Rượu Glenmorangie
                  ul
                    li
                      h3 rượu ngoại
                    li
                      a(href='#') Rượu Chivar
                    li
                      a(href='#') Hàng độc - rượu đọc đáo
                    li
                      a(href='#') Johnnie Walker
                    li
                      a(href='#') Rượu Whisky
                    li
                      a(href='#') Rượu Reni Martin
                    li
                      a(href='#') Rượu Glenmorangie
                .dropdown__img
                  img(src='image/mega.png', alt='')
            li
              a(href='#') Rượu trắng
            li
              a(href='#') Champagne
            li
              a(href='#') Thông tin
            li
              a(href='#') Blog
            li
              a(href='#') Liên hệ
      article.main__title
        .main__title__over
          .main__title__over__upon
            span.main__title__over__upon__home Trang chủ / Sản phẩm
            span.main__title__over__upon__current Rượu vang đỏ
      article.main__detail__product
        .main__detail__product__content
          .main__detail__product__content__upon
            .main__detail__product__content__upon__left
              .main__detail__product__content__upon__left__list
                .main__detail__product__content__upon__left__list__center
                  i.fas.fa-arrow-up
                  hr
                  img(src='image/detailproduct_1.png', alt='')
                  hr
                  img(src='image/detailproduct_1.png', alt='')
                  hr
                  img(src='image/detailproduct_2.png', alt='')
                  hr
                  img(src='image/detailproduct_1.png', alt='')
                  hr
                  img(src='image/detailproduct_1.png', alt='')
                  hr
                  i.fas.fa-arrow-down
              .main__detail__product__content__upon__left__wine
                img(src='image/detailblog_box.png', alt='')
            .main__detail__product__content__upon__right
              .main__title__over__under
                span rượu nho năm 1987
                img(src='image/titleleft-dark.png', alt='')
              h4
                | 330.000
                sup đ
              hr
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star-half-alt
              hr
              .main__detail__product__content__upon__right__color
                span màu sắc
                b.yellow-color
                b.black-color
                b.red-color
              .main__detail__product__content__upon__right__color
                span kích cỡ
                select(name='', id='')
                  option(value='') Loại to
                  option(value='') Loại nhỏ
              .main__detail__product__content__upon__right__color
                span số lượng
                .main__detail__product__content__upon__right__color__box
                  .main__detail__product__content__upon__right__color__box__down
                    strong.up-down -
                    strong.number-three 3
                    strong.up-down +
                  button.button
                    a.add__to__cart(href='') add to cart
              .main__detail__product__content__upon__right__interative
                i.fas.fa-heart
                i.fas.fa-chart-bar
                i.fas.fa-envelope
              .main__detail__product__content__upon__right__color(style='margin-top: 20px;')
                span kích cỡ
                p
                  | Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.
              img(width='700px', src='image/share.png', alt='')
          .main__detail__product__content__center
            .main__detail__product__content__center__information
              .main__detail__product__content__center__information__title
                span đặc điểm nổi bật
                span thông tin sản phẩm
                span đánh giá
              .main__detail__product__content__center__information__content
                p
                  | Vang nổ Thang Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bột ga đầy trắng mịn. Vang nổ Thang Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bột ga đầy trắng mịn. Vang nổ Thang Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bột ga đầy trắng mịn. Vang nổ Thang Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bột ga đầy trắng mịn. Vang nổ Thang Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bột ga đầy trắng mịn.
            .main__detail__product__content__center__img
              img(src='image/staticblock_6.png', alt='')
          article.product__selling.product__new
            h2.title__product sản phẩm liên quan
            img.title__dark(src='image/title_dark.png', alt='giới thiệu')
            .product__new__content
              .product__new__content__specifically
                .product
                  .product__image
                    img(src='image/hotproduct_1.png', alt='')
                    .love__and__compare
                      .love__and__compare__list
                        i.fas.fa-heart
                        span Yêu thích
                      .love__and__compare__list
                        i.fas.fa-chart-bar
                        span So sánh
                  span.product__name rượu vang đà lạt
                  span.product__price__new
                    | 370.000
                    sup đ
                  span.product__price__old
                    | - 
                    del 450.000
                    sup đ
                  button.button
                    a.add__to__cart(href='') add to cart
                .product
                  .product__image
                    img(src='image/hotproduct_2.png', alt='')
                    .love__and__compare
                      .love__and__compare__list
                        i.fas.fa-heart
                        span Yêu thích
                      .love__and__compare__list
                        i.fas.fa-chart-bar
                        span So sánh
                  span.product__name rượu vang đà lạt
                  span.product__price__new
                    | 370.000
                    sup đ
                  span.product__price__old
                    | - 
                    del 450.000
                    sup đ
                  button.button
                    a.add__to__cart(href='') add to cart
                .product
                  .product__image
                    img(src='image/hotproduct_3.png', alt='')
                    .love__and__compare
                      .love__and__compare__list
                        i.fas.fa-heart
                        span Yêu thích
                      .love__and__compare__list
                        i.fas.fa-chart-bar
                        span So sánh
                  span.product__name rượu vang đà lạt
                  span.product__price__new
                    | 370.000
                    sup đ
                  span.product__price__old
                    | - 
                    del 450.000
                    sup đ
                  button.button
                    a.add__to__cart(href='') add to cart
                .product
                  .product__image
                    img(src='image/hotproduct_4.png', alt='')
                    .love__and__compare
                      .love__and__compare__list
                        i.fas.fa-heart
                        span Yêu thích
                      .love__and__compare__list
                        i.fas.fa-chart-bar
                        span So sánh
                  span.product__name rượu vang đà lạt
                  span.product__price__new
                    | 370.000
                    sup đ
                  span.product__price__old
                    | - 
                    del 450.000
                    sup đ
                  button.button
                    a.add__to__cart(href='') add to cart
      article.brand__logo
        .brand__logo__img
          img(src='image/brand_logo.png', alt='')
    footer#footer
      .footer__content
        .footer__content__information
          h3 thông tin
          ul
            li
              a(href='') về chúng tôi
            li
              a(href='') giao hàng
            li
              a(href='') cảm nghĩ
            li
              a(href='') lưu trữ
            li
              a(href='') chính sách riêng tư
        .footer__content__information.footer__content__purchase
          h3 mua hàng
          ul
            li
              a(href='') vận chuyển và trả hàng
            li
              a(href='') mua hàng an toàn
            li
              a(href='') vận quốc tế
            li
              a(href='') liên kết
            li
              a(href='') dịch vụ giảm giá
        .footer__content__information.footer__content__send-email
          h3 gửi email
          form(action='')
            label(for='') Gửi email cho chúng tôi để được hỗ trợ
            input(type='text', placeholder='Enter your email')
            .send
              img(src='image/footer_send.png', alt='footer')
              span gửi
          .icon
            ul
              li
                a(href='')
                  i.fas.fa-dove
              li
                a(href='')
                  i.fab.fa-google-plus-g
              li
                a(href='')
                  i.fas.fa-volleyball-ball
              li
                a(href='')
                  i.fab.fa-invision
              li
                a(href='')
                  i.fas.fa-wifi
        .footer__content__information.footer__content__contact
          h3 liên hệ
          .icon__and__phone
            ul
              li
                i.fas.fa-map-marker-alt
                span Tầng 4,Tòa nhà HaNoi Group Số 442 Đội Cần, P.Cộng Vị, Quận Ba ĐÌnh, Hà Nội
              li
                i.fas.fa-phone-volume
                span (04) 6674 2332
                i.fas.fa-phone-volume
                span (04) 3786 8904
              li
                i.fas.fa-phone-volume
                span (08) 6680 9686
                i.fas.fa-envelope
                span Support@bizweb.vn
      .footer__bottom
        .footer__bottom__left
          p © CoppyRight 2018-2014 DKT Technology JSC
        .footer__bottom__right
