doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Product
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.2/css/all.css')
  body
    header#header.header
      .header__category
        .header__category__left
          ul
            a(href='')
              li Tài khoản của tôi
            a(href='')
              li Trạng thái đơn hàng
            a(href='')
              li Danh sách ưa thích
            a(href='')
              li Giỏ hàng
            a(href='')
              li Đăng nhập
            a(href='')
              li Đăng ký
        .header__category__right
          input(type='text', placeholder='Tìm kiếm ở đây...')
          i.fas.fa-search
    section#main
      article.menu
        .menu__logo
          .menu__logo__list__img
            img.menu__logo__list__img__one(src='image/Vector Smart Object.png', alt='')
            h2 Wine hourse
            h4 Since 1980
            img.menu__logo__list__img__two(src='image/logo.png', alt='')
        .menu__category
          ul.menu__category__list
            li
              a(href='#') Trang Chủ
            li
              a.red__wine(href='#') Rượu vang đỏ
              .dropdown
                i.fas.fa-caret-up
                .dropdown__information
                  ul
                    li
                      h3 rượu ngoại
                    li
                      a(href='#') Rượu Chivar
                    li
                      a.red__wine(href='#') Hàng độc - rượu đọc đáo
                    li
                      a(href='#') Johnnie Walker
                    li
                      a(href='#') Rượu Whisky
                    li
                      a(href='#') Rượu Reni Martin
                    li
                      a(href='#') Rượu Glenmorangie
                  ul
                    li
                      h3 rượu vang
                    li
                      a(href='#') Rượu Chivar
                    li
                      a(href='#') Hàng độc - rượu đọc đáo
                    li
                      a(href='#') Johnnie Walker
                    li
                      a(href='#') Rượu Whisky
                    li
                      a(href='#') Rượu Reni Martin
                    li
                      a(href='#') Rượu Glenmorangie
                  ul
                    li
                      h3 rượu ngoại
                    li
                      a(href='#') Rượu Chivar
                    li
                      a(href='#') Hàng độc - rượu đọc đáo
                    li
                      a(href='#') Johnnie Walker
                    li
                      a(href='#') Rượu Whisky
                    li
                      a(href='#') Rượu Reni Martin
                    li
                      a(href='#') Rượu Glenmorangie
                .dropdown__img
                  img(src='image/mega.png', alt='')
            li
              a(href='#') Rượu trắng
            li
              a(href='#') Champagne
            li
              a(href='#') Thông tin
            li
              a(href='#') Blog
            li
              a(href='#') Liên hệ
      article.main__title
        .main__title__over
          .main__title__over__upon
            span.main__title__over__upon__home Trang chủ / Sản phẩm /
            span.main__title__over__upon__current Rượu vang đỏ
          .main__banner__product
      article.main__product
        .main__product__content
          .main__product__content__left
            .main__product__content__left__category
              .main__title__over__under
                span Danh mục sản phẩm
                img(src='image/titleleft-dark.png', alt='')
              ul
                li
                  h3 rượu ngoại
                li
                  a(href='') Rượu Chivas(26)
                li
                  a(href='') Hàng độc-Rượu độc đáo(36)
                li
                  a(href='') Johnnie Walker(46)
                li
                  a(href='') Rượu Whisky(24)
                li
                  a(href='') Rượu Reni Martin(16)
                li
                  a(href='') Rượu Glenmorangie(11)
                li
                  a(href='') Rượu Chivas(26)
                li
                  a(href='') Hàng độc-Rượu độc đáo(36)
                li
                  a(href='') Johnnie Walker(46)
                li
                  a(href='') Rượu Whisky(24)
                li
                  a(href='') Rượu Reni Martin(16)
                li
                  a(href='') Rượu Glenmorangie(11)
                li
                  a(href='') Johnnie Walker(46)
                li
                  a(href='') Rượu Whisky(24)
                li
                  a(href='') Rượu Reni Martin(16)
                li
                  a(href='') Rượu Glenmorangie(11)
                li
                  h3 rượu vang
                li
                  a(href='') Rượu Vang Pháp(26)
                li
                  a(href='') Rượu vang Úc(36)
                li
                  a(href='') Rượu Vang Mỹ(46)
                li
                  a(href='') Rượu Vang Chile(24)
                li
                  a(href='') Rượu Vang Argentina(16)
                li
                  a(href='') Rượu Vang Ý(11)
                li
                  a(href='') Rượu Vang Nam Phi(26)
            .main__product__content__left__compare
              .main__title__over__under
                span So sánh sản phẩm
                img(src='image/titleleft-dark.png', alt='')
              span bạn chưa có sản phẩm nào để so sánh
            .main__product__content__left__tag
              .main__title__over__under
                span So sánh sản phẩm
                img(src='image/titleleft-dark.png', alt='')
              .main__product__content__left__tag__history
                span Đồng hồ
                span Túi
                span Phụ kiện
                span Giày
                span Sandal
                span Áo sơ mi
                span Nước hoa
                span Trẻ em
                span Thời trang nữ
            .main__product__content__left__img
          .main__product__content__right
            .main__product__content__right__category
              i.fas.fa-th-list
              i.fas.fa-list
              ul
                li
                  i.fas.fa-caret-left
                li
                  a(href='') 1
                li
                  a(href='') 2
                li
                  a(href='') 3
                li
                  a(href='') 4
                li
                  a(href='') 5
                li
                  i.fas.fa-caret-right
            .main__product__content__right__content
              .product
                .product__image
                  img(src='image/hotproduct_1.png', alt='')
                  .love__and__compare
                    .love__and__compare__list
                      i.fas.fa-heart
                      span Yêu thích
                    .love__and__compare__list
                      i.fas.fa-chart-bar
                      span So sánh
                span.product__name rượu vang đà lạt
                span.product__price__new
                  | 370.000
                  sup đ
                span.product__price__old
                  | - 
                  del 450.000
                  sup đ
                button.button
                  a.add__to__cart(href='') add to cart
              .product
                .product__image
                  img(src='image/hotproduct_1.png', alt='')
                  .love__and__compare
                    .love__and__compare__list
                      i.fas.fa-heart
                      span Yêu thích
                    .love__and__compare__list
                      i.fas.fa-chart-bar
                      span So sánh
                span.product__name rượu vang đà lạt
                span.product__price__new
                  | 370.000
                  sup đ
                span.product__price__old
                  | - 
                  del 450.000
                  sup đ
                button.button
                  a.add__to__cart(href='') add to cart
              .product
                .product__image
                  img(src='image/hotproduct_1.png', alt='')
                  .love__and__compare
                    .love__and__compare__list
                      i.fas.fa-heart
                      span Yêu thích
                    .love__and__compare__list
                      i.fas.fa-chart-bar
                      span So sánh
                span.product__name rượu vang đà lạt
                span.product__price__new
                  | 370.000
                  sup đ
                span.product__price__old
                  | - 
                  del 450.000
                  sup đ
                button.button
                  a.add__to__cart(href='') add to cart
              .product
                .product__image
                  img(src='image/hotproduct_1.png', alt='')
                  .love__and__compare
                    .love__and__compare__list
                      i.fas.fa-heart
                      span Yêu thích
                    .love__and__compare__list
                      i.fas.fa-chart-bar
                      span So sánh
                span.product__name rượu vang đà lạt
                span.product__price__new
                  | 370.000
                  sup đ
                span.product__price__old
                  | - 
                  del 450.000
                  sup đ
                button.button
                  a.add__to__cart(href='') add to cart
              .product
                .product__image
                  img(src='image/hotproduct_1.png', alt='')
                  .love__and__compare
                    .love__and__compare__list
                      i.fas.fa-heart
                      span Yêu thích
                    .love__and__compare__list
                      i.fas.fa-chart-bar
                      span So sánh
                span.product__name rượu vang đà lạt
                span.product__price__new
                  | 370.000
                  sup đ
                span.product__price__old
                  | - 
                  del 450.000
                  sup đ
                button.button
                  a.add__to__cart(href='') add to cart
              .product
                .product__image
                  img(src='image/hotproduct_1.png', alt='')
                  .love__and__compare
                    .love__and__compare__list
                      i.fas.fa-heart
                      span Yêu thích
                    .love__and__compare__list
                      i.fas.fa-chart-bar
                      span So sánh
                span.product__name rượu vang đà lạt
                span.product__price__new
                  | 370.000
                  sup đ
                span.product__price__old
                  | - 
                  del 450.000
                  sup đ
                button.button
                  a.add__to__cart(href='') add to cart
              .product
                .product__image
                  img(src='image/hotproduct_1.png', alt='')
                  .love__and__compare
                    .love__and__compare__list
                      i.fas.fa-heart
                      span Yêu thích
                    .love__and__compare__list
                      i.fas.fa-chart-bar
                      span So sánh
                span.product__name rượu vang đà lạt
                span.product__price__new
                  | 370.000
                  sup đ
                span.product__price__old
                  | - 
                  del 450.000
                  sup đ
                button.button
                  a.add__to__cart(href='') add to cart
              .product
                .product__image
                  img(src='image/hotproduct_1.png', alt='')
                  .love__and__compare
                    .love__and__compare__list
                      i.fas.fa-heart
                      span Yêu thích
                    .love__and__compare__list
                      i.fas.fa-chart-bar
                      span So sánh
                span.product__name rượu vang đà lạt
                span.product__price__new
                  | 370.000
                  sup đ
                span.product__price__old
                  | - 
                  del 450.000
                  sup đ
                button.button
                  a.add__to__cart(href='') add to cart
              .product
                .product__image
                  img(src='image/hotproduct_1.png', alt='')
                  .love__and__compare
                    .love__and__compare__list
                      i.fas.fa-heart
                      span Yêu thích
                    .love__and__compare__list
                      i.fas.fa-chart-bar
                      span So sánh
                span.product__name rượu vang đà lạt
                span.product__price__new
                  | 370.000
                  sup đ
                span.product__price__old
                  | - 
                  del 450.000
                  sup đ
                button.button
                  a.add__to__cart(href='') add to cart
      article.brand__logo
        .brand__logo__img
          img(src='image/brand_logo.png', alt='')
    footer#footer
      .footer__content
        .footer__content__information
          h3 thông tin
          ul
            li
              a(href='') về chúng tôi
            li
              a(href='') giao hàng
            li
              a(href='') cảm nghĩ
            li
              a(href='') lưu trữ
            li
              a(href='') chính sách riêng tư
        .footer__content__information.footer__content__purchase
          h3 mua hàng
          ul
            li
              a(href='') vận chuyển và trả hàng
            li
              a(href='') mua hàng an toàn
            li
              a(href='') vận quốc tế
            li
              a(href='') liên kết
            li
              a(href='') dịch vụ giảm giá
        .footer__content__information.footer__content__send-email
          h3 gửi email
          form(action='')
            label(for='') Gửi email cho chúng tôi để được hỗ trợ
            input(type='text', placeholder='Enter your email')
            .send
              img(src='image/footer_send.png', alt='footer')
              span gửi
          .icon
            ul
              li
                a(href='')
                  i.fas.fa-dove
              li
                a(href='')
                  i.fab.fa-google-plus-g
              li
                a(href='')
                  i.fas.fa-volleyball-ball
              li
                a(href='')
                  i.fab.fa-invision
              li
                a(href='')
                  i.fas.fa-wifi
        .footer__content__information.footer__content__contact
          h3 liên hệ
          .icon__and__phone
            ul
              li
                i.fas.fa-map-marker-alt
                span Tầng 4,Tòa nhà HaNoi Group Số 442 Đội Cần, P.Cộng Vị, Quận Ba ĐÌnh, Hà Nội
              li
                i.fas.fa-phone-volume
                span (04) 6674 2332
                i.fas.fa-phone-volume
                span (04) 3786 8904
              li
                i.fas.fa-phone-volume
                span (08) 6680 9686
                i.fas.fa-envelope
                span Support@bizweb.vn
      .footer__bottom
        .footer__bottom__left
          p © CoppyRight 2018-2014 DKT Technology JSC
        .footer__bottom__right
